* {
  margin: 0;
  padding: 0;
}
#first {
  background: teal;
}
#second {
  background: blue;
}
#third {
  background: crimson;
}

#register_btn {
  padding: 20px;
  background-color: teal;
  margin: 10px;
  font-size: 20px;
}
#login_btn {
  padding: 20px;
  background-color: yellow;
  margin: 10px;
  font-size: 20px;
}

#login {
  color: black;
  padding: 100px;
  background-color: yellow;
}

#register {
  color: black;
  padding: 100px;
  background-color: teal;
}

body {
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: white;
  background: url("../img/webpack.png");
  background-size: 400px;
  background-repeat: repeat-x repeat-y;
}

p {
  margin: 100px;
}
